@font-face {
    font-family: "blooming";
    src: url("../../public/Blooming-Elegant-Font/BloomingElegant.otf") format("opentype");
    src: url("../../public/Blooming-Elegant-Font/Blooming\ Elegant\ Sans\ Bold.otf") format("opentype"),
        url("../../public/Blooming-Elegant-Font/BloomingElegant_Monoline.otf") format("opentype");
}